@import '@/styles/normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: rgb(6, 11, 78);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
tr, th, td{
  padding-left: 14px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.searchinput { 
  box-sizing: border-box;
  border: 0px solid transparent;
  padding-left: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: 4px transparent;
  outline-style: groove;
  transition: all 400ms;
  min-height: 32px;
  min-width: 350px;
 }
 .searchinput:focus{
  outline-style: groove;
  outline: 2px solid #22e886;
  outline-offset: 4px;
}
.grey{
  color: gray;
}
.searchresults{
  color: rgb(6, 11, 78);
  cursor: pointer;
  white-space: nowrap;
  margin-top: 6%;
  background-color: #22e886;
  min-width: 350px;
  max-width: 350px;
  font-size: 1.2em;
  font-weight: bolder;
}
.item{
  color: #000;
  background-color: rgb(255, 255, 255);
  transition: all 200ms;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px
}

#searchvalue-listbox{
  animation: fade-in 400ms ease-in forwards;
  border: 0px solid transparent;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: 4px transparent;
  outline-style: groove;

}
@keyframes fade-in {
  to{
    outline: 2px solid #22e866;
    outline-offset: 4px;
    outline-style: groove;
  }
}
.image-container{
  width: auto;
  height: auto;
}
@media only screen and (max-width: 496px) {
  .image-container{
    width: 80%;
    height: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .image-container{
    width: 25%;
    height: 25%;
  }
}