@import '@/styles/normalize.css';
body{
  background-color: rgb(28, 38, 85);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
tr, th, td{
  padding-left: 14px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em !important;
  }
  .item{
    color: grey;
    transition:  all 0.2s;
    margin-top: 5%;
  }
  .searchresults{
    border: 2px solid #29d;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-top: 7%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 496px) {
  body {
    font-size: 0.7em !important;
  }
  .item{
    color: grey;
    transition:  all 0.2s;
    margin-top: 5%;
  }
  .searchresults{
    border: 2px solid #29d;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-top: 7%;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5%;
  }
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.searchinput { 
  box-sizing: border-box;
  border: 0px solid transparent;
  padding-left: 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: 4px transparent;
  outline-style: groove;
  transition: outline 300ms;
  min-height: 32px;
 }
 .searchinput:focus{
  outline-style: groove;
  outline: 2px solid #29d;
  outline-offset: 4px;
}
.grey{
  color: gray;
}
.searchresults{
  border: 2px solid #29d;
  color:#fff;
  font-size: 1.2em;
  padding: 5px;
  margin-top: 7%;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.item{
  color: #000;
  font-weight: bold;
  background-color: #fff;
  
}